<p id="notice"><%= notice %></p>
<%= react_component("TripShow", {trip: @trip, passenger_request_path: new_passenger_request_path}) %>

<%
=begin%>
 <p>
  <strong>From address:</strong>
  <%= @trip.from_address %>
</p>

<p>
  <strong>To address:</strong>
  <%= @trip.to_address %>
</p>

<p>
  <strong>Available seats:</strong>
  <%= @trip.available_seats %>
</p>

<p>
  <strong>Leaving at:</strong>
  <%= @trip.leaving_at %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trip.price %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @trip.comments %>
</p>

<p>
  <strong>Car license plate:</strong>
  <%= @trip.car_license_plate %>
</p>

<p>
  <strong>Car brand:</strong>
  <%= @trip.car_brand %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @trip.car_model %>
</p>

<p>
  <strong>Car color:</strong>
  <%= @trip.car_color %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %> 
<%
=end%>
