<!DOCTYPE html>
<html>
  <head>
    <title>Carpou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if !current_user %>
      <%= react_component("Header",
        {
          user: current_user,
          mytrips_route: nil,
          my_requests_route: nil,
          logout_route: destroy_user_session_path,
          root_path: root_path,
          login_route: new_user_session_path,
          register_route: new_user_registration_path
        })
      %>
    <% else %>
      <%= react_component("Header",
        {
          user: current_user,
          mytrips_route: trips_from_user_path(current_user.id),
          my_requests_route: passenger_requests_from_user_path(current_user.id), 
          logout_route: destroy_user_session_path,
          root_path: root_path,
          login_route: new_user_session_path,
          register_route: new_user_registration_path
        })
      %>
      <% end %>
    <%= yield %>

  </body>
</html>
