<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>Carpou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="container is-fluid">
    <%= react_component("Header",
      {
        user: current_user
      })
    %>
    <% if notice %>
          <p class="notice">
            <br/>
            <div class="notification is-link is-light">
              <%= notice %>
            </div>
          </p>
        <% end %>
        <% if alert %>
          <p class="alert">
            <br/>
            <div class="notification is-danger is-light">
              <%= alert %>
            </div>
          </p>
        <% end %>
    <%= yield %>
</div>
  </body>
</html>
